@using VisionStore.Data.ViewModels;
@model ShoppingCartVM;

@{
    ViewData["Title"] = "Shopping Cart Summary";
}
<html>

<body>
    <div class="admin-container row flex-column align-items-center justify-content-center">
    <h3>Shopping Cart Summary</h3>
     
    <table class="table table-responsive row col-9" style="padding:100px;">
          <thead>
            <tr>
                <th>Product Image</th>
                <th>Quantity</th>
                <th>Product</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
            {
                
                <tr>
                    <td> <img src="~/img/@item.Products.ImageUrl" style="width:100px; height:100px" /></td>
                    <td style='text-align:center; vertical-align:middle'>@item.Quantity</td>
                    <td style='text-align:center; vertical-align:middle'>@item.Products.Title</td>
                    <td style='text-align:center; vertical-align:middle'> @item.Products.Price</td>
                    <td style='text-align:center; vertical-align:middle'>@((item.Quantity*item.Products.Price).ToString("c")) </td>

                    <td style='text-align:center; vertical-align:middle'>
                         <a class="text-danger" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@item.Products.ProductId">
                           <i class="bi bi-file-plus"></i>
                        </a>

                        <a class="text-danger" asp-controller="ShoppingCart" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Products.ProductId">  
                   <i class="bi bi-trash"></i>
                        </a>                        
                    </td> 
                  

                </tr>
                
            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td> Total: </td>
                <td>
                    @Model.ShoppingCartTotal.ToString("c")
                </td>

            </tr>
        </tfoot>

    </table>
 
    </div>

    </body>
    </html>
    
    
    
    

