@model IEnumerable<VisionStore.Models.Products>

@{
    ViewData["Title"] = "ListProducts";
}

<h4>ListProducts</h4>

<div class="d-flex justify-content-center admin-container">
    <table class="table col-8">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col-6">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteProduct", new {  id=item.ProductId  })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
